*{
	margin: 0;
	padding: 0;
}



.section{
    align-items: center;
    font-family: 'Roboto';
    color: rgb(248, 248, 248);
    background-color: rgba(0, 0, 0, 0.919);
    display: flex;
    flex-direction: column;
}

.user{
    width: 50vw;
    padding: 2vw;
    margin: 20px;
    border: 1px solid rgba(248, 248, 248, 0.143);
}

.title{
    display: flex;
    justify-content: space-between;
}

.edit{
  padding-left: 10vw;
}

.user_nik{
    font-family: 'Young Serif';
    font-style: normal;
    padding: 1vw;
}
.user_name, .user_email{
    font-family: 'Roboto Mono';
    padding: 1vw;
    font-size: small;
}

.post_title, .post{
    padding: 1vw;
}

.post_title{
    color: rgb(135, 202, 226);        
}

/* loader */

.loader {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 100px auto;
  }
  
  .dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #333;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  .dot1, .dot2 {
    left: 0;
  }
  
  .dot3 { left: 1.5em; }
  
  .dot4 { left: 3em; }
  
  @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
  }
  
  @keyframes slide {
    to { transform: translateX(1.5em) }
  }
  
  
  .dot1 {
    animation-name: reveal;
  }
  
  .dot2, .dot3 {
    animation-name: slide;
  }
  
  .dot4 {
    animation-name: reveal;
    animation-direction: reverse; /* thx @HugoGiraudel */
  }
  